<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- value 设置基本类型的 ref 是设置对象的-->
    <bean id="javaWork" class="com.java.entity.JavaWork">
        <property name="tester" ref="zhangsan"></property>
    </bean>
    <bean id="zhangsan" class="com.java.entity.ZhangSan"></bean>
    <bean id="lisi" class="com.java.entity.LiSi"></bean>


    <!-- setter 注入方式 -->
    <bean id="user1" class="com.spring.entity.User">
        <property name="id" value="1"></property>
        <property name="username" value="admin1"></property>
        <property name="password" value="admin11"></property>
    </bean>
    <!-- 通过构造方法 注入方式 -->
    <!-- 类型注入 -->
    <bean id="user2" class="com.spring.entity.User">
        <constructor-arg type="java.lang.Integer" value="2"></constructor-arg>
        <constructor-arg type="java.lang.String" value="admin2"></constructor-arg>
        <constructor-arg type="java.lang.String" value="admin22"></constructor-arg>
    </bean>

    <!-- 索引注入 -->
    <bean id="user3" class="com.spring.entity.User">
        <constructor-arg index="0" value="3"></constructor-arg>
        <constructor-arg index="1"  value="admin3"></constructor-arg>
        <constructor-arg index="2"  value="admin33"></constructor-arg>
    </bean>

    <!-- 联合注入 -->
    <bean id="user4" class="com.spring.entity.User">
        <constructor-arg index="0" type="java.lang.Integer" value="4"></constructor-arg>
        <constructor-arg index="1" type="java.lang.String" value="admin4"></constructor-arg>
        <constructor-arg index="2" type="java.lang.String" value="admin44"></constructor-arg>
    </bean>


    <!-- 工厂注入 -->
    <!-- 静态工厂 -->
    <bean id="factory" class="com.spring.entity.UserFactory"></bean>
    <bean id="user5" factory-bean="factory" factory-method="creatUser" ></bean>

    <!-- 非静态工厂 -->
    <bean id="user6" class="com.spring.entity.UserFactory" factory-method="creatStaticUser"></bean>
</beans>