<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- value 设置基本类型的 ref 是设置对象的-->
    <bean id="javaWork" class="com.java.entity.JavaWork">
        <property name="tester" ref="zhangsan"></property>
    </bean>
    <bean id="zhangsan" class="com.java.entity.ZhangSan"></bean>
    <bean id="lisi" class="com.java.entity.LiSi"></bean>



    <bean id="user" class="com.spring.entity.User">
        <property name="id" value="1001"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="18"></property>
    </bean>

</beans>